
<% @posts.each do |post| %>
    <p class="img-wrap"><%= image_tag post.cosmetic.image_url %></p>
    <div class="card-body">
    <p class="item-details item-name card-text"><%= link_to post.cosmetic.name, "#{post.cosmetic.url}" %></p>
    <p class="item-details card-text"><%= number_with_delimiter(post.cosmetic.price) %>円</p>
    </div>
  <div>
    <p>気になる理由：<%= post.caption %></p>
  </div>
  <%= link_to "使ったコスメに登録", post_update_review_path(post.id), class:"btn btn-success" %>
  
  <%= link_to "使いたいコスメから削除", post_path(post), method: :delete,  class:"btn btn-success", data: { confirm: '削除しますか？' }  %>
<% end %>