
  <div class="card w-100 bg-transparent border-0" style="width: 18rem;" >
  <p class="img-wrap"><%= image_tag @cosmetic.image_url %></p>
  <div class="card-body">
  <p class="item-details item-name card-text"><%= link_to @cosmetic.name, "#{@cosmetic.url}" %></p>
  <p class="item-details card-text"><%= number_with_delimiter(@cosmetic.price) %>円</p>
  </div>

  </div>

<h1>使いたいコスメを登録</h1>
<%= form_with model: @post, url: '/posts', local:true do |f| %>
<span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <div>
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
     </div>
   <% end %>
 </div>

  <h4>気になる</h4>
  <%= f.text_area :caption %>
  <%= f.hidden_field :cosmetic_id, value: @cosmetic_id %> <br>
   <%= f.submit '使いたいコスメに登録', class:"btn btn-success" %>
<% end %>