<div class="card w-100 bg-transparent border-0" style="width: 18rem;" >
  <p class="img-wrap"><%= image_tag @cosmetic.image_url %></p>
  <div class="card-body">
  <p class="item-details item-name card-text"><%= link_to @cosmetic.name, "#{@cosmetic.url}" %></p>
  <p class="item-details card-text"><%= number_with_delimiter(@cosmetic.price) %>円</p>
  </div>

<h2>使ったコスメに登録する</h2>
<%#= image_tag (cosmetic['smallImageUrls'][0])  %>
<%= form_with model: @post, method: :patch do |f| %>
  <h4>評価</h4>
  <p>感想：<%= f.text_area :review %></p>
  <%= f.submit "内容を保存", class:"btn btn-success" %>
<% end %>

