<!DOCTYPE html>
<html>
  <head>
    <title>KoreanCosmetics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li><%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %></li>
     <%= render "layouts/header" %>
     <div class="container">

     </div>
    
    
    <%= yield %>
  </body>
  
  <footer>
     <div class="container mt-5">
     <div class="row">
     <div class="mx-auto">
     <p class="text-center"> CopyRight Infratop.inc</p>
  </footer>
  
</html>
